body{
    width: 100%;
    background-color: aliceblue;
}
.name-title{
    text-align: center;
}

.half-bg{
    padding: 10px;
    background-color: rgb(236, 236, 236);
}

.notify{
    display: none;
    text-align: center;
    color: tomato;
    font-weight: 500;
}